<?xml version="1.0"?>
<configuration>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

<probing privatePath="assemblies"/>
<dependentAssembly>
<assemblyIdentity name="TestClassLibrary"
publicKeyToken="b77a5c561934e089"
culture="Neutral"/>
<!-- assembly versions can be redirected in application, publisher policy, or machine configuration files-->
<bindingRedirect oldversion="1.0.0.0" newVersion="1.0.0.2"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>